@import "tailwindcss";



:root {
  --dcmbg:rgb(34, 40, 49);
  --dcsbg: rgb(49, 54, 63);
  --dcbtn:rgb(118, 171, 174);
  --dctxt: rgb(238, 238, 238);
  --dcmb: rgb(210, 193, 182);

  --lcmbg:rgb(236, 229, 199);
  --lcsbg: rgb(205, 194, 174);
  --lcbtn:rgb(194, 222, 209);
  --lctxt: rgb(53, 66, 89);
}

.sbar {
  scrollbar-width: none;
}

@layer utilities{
  .scrollbar-hide{
    -ms-overflow-style:none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar{
  display: none;
}
}